.Outbox {
    border: 2px solid white;
    margin-top: 130px;
    border-width:2px;
    padding: 30px;
    width: 500px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Inbox {
    padding-top: 25px;
}
.wid {
    width: 35ch;
}
h3
{
    text-align: left;
    margin-bottom: 50px;
    margin-left: 20px;
}