.Menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Menu .MenuTitle {
  font-family: cursive;
  font-size: 60px;
}

.menuList {
  width: 70vw;
  height: auto;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Grid
{
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: 30px 30px;
}

.MenuItem{
  border-radius: 15px;
  width: 300px;
  height: 380px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.MenuItem:hover{
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.MenuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.MenuItem h1,
.MenuItem p,
.MenuItem button {
  margin-left: 20px;
}
.MenuItem button{
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 25px;
  display: flex;
  flex-direction: row;
  width: 50px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}